{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RedWood</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="styleSheet" href="{% static 'css/style.css' %}">
    </head>



    <body>
        <div class="container-principal">
            <header>
                <div class="container-fluid barra-navegacion">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <div class="logo">
                                <img src="{% static 'imgs/redwood logo a color completo transparente.png'%}" alt="logo compania">
                            </div>
                            <div class="col boton-desplegable">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse links-barra-nav" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active disabled" aria-disabled="true" href=""><p class="">Inicio</p></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'quienes_somos' %}"><p class="fw-bold">Quienes somos</p></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'galeria' %}"><p class="fw-bold">Galeria de Fotos</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>


        
            <main class="container">
                <div class="row">
                    <div class="col-8 objetivo-proyectoweb1">
                        <div class=" objetivo-proyectoweb2">
                            <h1 class="fw-bold">Proyecto Web</h1>
                            <p>Aquí podrás explorar nuestra amplia colección de muebles de madera, nuestro sitio web está diseñado para acompañarte en cada paso del proceso, asegurando que encuentres exactamente lo que necesitas para hacer de tu hogar un lugar especial.</p>
                            <p>Nos esforzaremos por ofrecer una experiencia personalizada y centrada en el cliente en cada interacción. Desde el primer clic hasta la entrega del producto, estamos comprometidos a proporcionarte un servicio excepcional.</p>
                        </div>
                    </div>

                    <div class="col carrusel1">
                        <div class="carrusel2">
                            <div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'imgs/redwood 1.jpeg'%}" class="d-block w-100 img-fluid" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'imgs/redwood 2.jpeg'%}" class="d-block w-100 img-fluid" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'imgs/redwood 3.jpeg'%}" class="d-block w-100 img-fluid" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        
        

            <footer>
                <div class="container-fluid footer">
                    <div class="rrss">
                        <a href="https://www.instagram.com/redwood0507/"><img src="{% static 'imgs/ig logo 2.png'%}" alt="instagram"></a>
                    </div>
                    <div class="copy">
                        <u>Matias Castañeda - Alvaro Neira, @Copyrigth&copy; Derechos reservados.</u>
                    </div>
                </div>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="{% static 'js/javascript.js' %}"></script>
    </body>
</html>